<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Meta -->
        <title>FullStack Web | Welcome</title>
        <meta charset="utf-8">
        <meta name="author" content="Keith Galway">
        <meta name="description" content="First Practice Website">
        <meta name="keywords" content="web development, creative website ideas">

        <!-- Mobile Specific -->
        <meta name="viewport" content="width=device-width">

        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="container">
                <div id="branding">
                    <h1><span class="highlight">IT</span>Stack</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li class="current"><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="ad.html">AD</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Newsletter -->
        <section id="newsletter">
            <div class="container">
                <h1>Subscribe to Our Newsletter</h1>
                <form>
                    <input type="email" placeholder="Enter Email...">
                    <button type="submit" class="button_1">Subscribe</button>
                </form>
            </div>
        </section>

        <!-- Main -->
        <section id="main">
            <div class="container">

                <!-- Main-Col -->
                <article id="main-col">
                    <h1 class="page-title">About Me</h1>
                    <p>
                        Customer Service, Hospitality and Sales from KFC, Myer, Hilton, Hudsons, The Shed, The Windsor, Crown Perth.
                    </p>
                    <p>
                        IT from Crown Perth, Curtin University and Woodside.
                    </p>
                    <p>
                        Web Development from freelancing.
                    </p>
                </article>

                <!-- Sidebar -->
                <aside id="sidebar">
                    <div class="dark">
                        <h3>What I Do</h3>
                        <p>
                            I'm a versitile IT person, that provides all sorts of services including IT support, Web development, security, administration, technical writing and transcription services.
                        </p>
                    </div>
                </aside>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <p>FullStack Web, Copyright &copy; 2017</p>
        </footer>
    </body>
</html>