<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Meta -->
        <title>FullStack Web | Welcome</title>
        <meta charset="utf-8">
        <meta name="author" content="Keith Galway">
        <meta name="description" content="First Practice Website">
        <meta name="keywords" content="web development, creative website ideas">

        <!-- Mobile Specific -->
        <meta name="viewport" content="width=device-width">

        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="container">
                <div id="branding">
                    <h1><span class="highlight">IT</span>Stack</h1>
                </div>
                <nav>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li class="current"><a href="ad.html">AD</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Main -->
        <section id="main">
            <div class="container">

                <!-- Main-Col -->
                <article id="main-col">
                    <h1 class="page-title">Active Directory Glossary</h1>
                    <dl>
                        <dt>Active Directory (AD)</dt>
                        <dd>A directory service developed by Microsoft for Windows domain networks.</dd>
                        <dt>Domain Controller</dt>
                        <dd>A server running the Active Directory Domain Services (AD DS) role.</dd>
                        <dt>Domain Services</dt>
                        <dd>The core functions in Active Directory that manage users and computers and allow sysadmins to organize the data into logical hierarchies.</dd>
                        <dt>Domain</dt>
                        <dd>A collection of objects within a Microsoft Active Directory network.</dd>
                        <dt>Schema</dt>
                        <dd>The set of user configured rules that govern objects and attributes in AD DS.</dd>
                        <dt>Global Catalog</dt>
                        <dd>The container of all objects in AD DS. If you need to find the name of a user, that name is stored in the Global Catalog.</dd>
                        <dt>Query and Index Mechanism</dt>
                        <dd>This system allows users to find each other in AD. </dd>
                    </dl>
                </article>

                <!-- Sidebar -->
                <aside id="sidebar">
                    <div class="dark">
                        <h3>Active Directory</h3>
                        <p>
                            Active Directory stores information about objects on the network and makes this information easy for administrators and users to find and use. 
                        </p>
                    </div>
                </aside>
            </div>
        </section>

        <!-- Footer -->
        <footer>
            <p>FullStack Web, Copyright &copy; 2017</p>
        </footer>
    </body>
</html>