<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Basic Meta -->
        <title>FullStack Web | Welcome</title>
        <meta charset="utf-8">
        <meta name="author" content="Keith Galway">
        <meta name="description" content="First Practice Website">
        <meta name="keywords" content="web development, creative website ideas">

        <!-- Mobile Specific -->
        <meta name="viewport" content="width=device-width">

        <!-- CSS -->
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <!-- Header -->
        <header class="header">
            <div class="header__container">
                <h1 class="header__heading"><span class="highlight">Galway</span> Designs</h1>
                <nav class="header__nav">
                    <ul>
                        <li class="current"><a href="index.html">Home</a></li>
                        <li><a href="about.html">About</a></li>
                        <li><a href="services.html">Services</a></li>
                        <li><a href="ad.html">AD</a></li>
                    </ul>
                </nav>
            </div>
        </header>

        <!-- Showcase -->
        <section class="showcase">
            <div class="showcase__container">
                <h1 class="showcase__heading">Professional Web Developement</h1>
                <p class="showcare__paragraph">
                    Transform your online presence with expertly crafted websites tailored to your unique needs. 
                    With years of experience in IT and web development, I specialize in creating modern, responsive, 
                    and user-friendly websites that help small businesses thrive in the digital world. 
                    Whether you need a brand-new site or a redesign, I deliver solutions that enhance your brand and 
                    drive results. Let’s build something great together!
                </p>
            </div>
        </section>

        <!-- Newsletter -->
        <section class="newsletter">
            <div class="newsletter__container">
                <h1 class="newsletter__heading">Subscribe to Our Newsletter</h1>
                <form class="newsletter__form">
                    <input
                        class="newsletter__input"
                        type="email"
                        placeholder="Enter Email..."
                    >
                    <button class="newsletter__button" type="submit">Subscribe</button>
                </form>
            </div>
        </section>

        <!-- Boxes -->
        <section class="boxes">
            <div class="boxes__container">
                <div class="boxes__box">
                    <img
                        class="box__img"
                        src="img/logo_html.png"
                        alt="HTML Logo"
                    />
                    <h3 class="box__heading">HTML5</h3>
                    <p class="box__paragraph">Structuring websites using HTML.</p>
                </div>
                <div class="boxes__box">
                    <img
                        class="box__img"
                        src="img/logo_css.png"
                        alt="CSS Logo"
                    />
                    <h3 class="box__heading">CSS3</h3>
                    <p class="box__paragraph">Presentation of websites using CSS.</p>
                </div>
                <div class="boxes__box">
                    <img
                        class="box__img"
                        src="img/logo_js.png"
                        alt="JavaScript Logo"
                    />
                    <h3 class="box__heading">JavaScript</h3>
                    <p class="box__paragraph">Creating functional elements in a website using JavaScript.</p>
                </div>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <p class="footer__caption">FullStack Web, Copyright &copy; 2024</p>
        </footer>
    </body>
</html>